@lightGreyColor: #A3AFB1;
@darkBlueColor: #44565F;
@redColor: #E61938;
@lightRedColor: #F17782;

@backgroundColor: @redColor;
@inputColor: @darkBlueColor;
@labelColor: @lightGreyColor;
@placeholderColor: @lightGreyColor;
@errorColor: @darkBlueColor;


body{
    background-color: @backgroundColor;
}

.form-horizontal {
    .control-label{
        width: 0px;
        font-size: 24px;
        color: @labelColor;
    }
    .controls{
        margin-left: 0px;

        input[type="text"],
        input[type="password"],
        input[type="tel"],
        input[type="email"]
        {
            line-height: 30px;
            height: 30px;
            font-size: 24px;
            color: @inputColor;

            &::-webkit-input-placeholder {
                color: @placeholderColor;
                font-size: 18px;
            }
        }

        label{
            font-size: 14px;
            color: @labelColor;
        }

        .help-block{
            font-size: 14px;
            color: @labelColor;
        }
    }
    .control-group.error input{
        border-width: 5px;
        border-color: @errorColor;

        &::-webkit-input-placeholder {
            color: @placeholderColor;
        }
    }

    .btn-xxlarge{
        padding:18px 14px;
        font-size: 18px;
        line-height: normal;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
    }
    #survey_submit{
        margin-left: 0px;
    }
}

table{
    background-color:white;
}
